
<div class="div">
    <img src="http://localhost:8090/{{overview.image}}" alt="">
<span class="data">
    <p> RS: <span style="text-decoration: line-through;"> 1000 </span> /-&nbsp;<span style="color: red;">Rs:{{overview.price}}/-</span></p>
    <p>{{overview.name}}</p>

    <p><span style="color: green; font-weight: bolder;">No of pages:</span> {{overview.pages}}</p>
    <p><span style="color: green; font-weight: bolder;"> Author:</span>{{overview.author}}</p>
</span>
    <p> <span style="color: green; font-weight: bolder;"> Description:</span>{{overview.description}}</p>


</div>