<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/"> Dusa Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>

<div class="div">
  <router-outlet></router-outlet>
</div>